// Viewport

$tablet-width: 900px;
$desktop-width: 2520px;

// Colors

$white: #ffffff;
$black: #000000;
$green: #238636;

$main-color--lightest: #C9D1D9;
$main-color--light: #474f59;
$main-color: #30363D;
$main-color--dark: #21262D;
$main-color--darker: #161B22;
$main-color--darkest: #0D1117;
