.grid__element {
  position: relative;
  background: #161B22;
  border: 1px solid #30363D;
  border-radius: 4px;
}

.chart {
  grid-area: c;
}

/* разворачивает блок информации на весь экран */
.grid__element--show {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  height: calc(100vh - 80px - 40px - 20px);
  grid-area: none;
  z-index: 2;
}

/* скрывает блок информации */
.grid__element--hide {
  display: none;
}
