@import '@/assets/stylesheets/utils/variables.scss';

.grid__element {
  position: relative;
  background: $main-color--darker;
  border: 1px solid $main-color;
  border-radius: 4px;
}

.chart {
  grid-area: c;
}

.chart__wrapper {
  position: relative;
  width: 100%;
}

/* разворачивает блок информации на весь экран */
.grid__element--show {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  height: calc(100vh - 80px - 40px - 20px);
  grid-area: none;
  z-index: 2;
}

/* скрывает блок информации */
.grid__element--hide {
  display: none;
}
