@import '@/assets/stylesheets/utils/variables.scss';

.list__item {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  border-bottom: 1px solid $main-color;

  &--active {
    background-color: $main-color--light;
  }

  &:not(.list__item--active):hover {
    background-color: $main-color--dark;
    cursor: pointer;
  }
}

.list__item-count {
  margin-right: 5px;
  font-weight: bold;
  color: $green;
}

.list__item-country {
  display: inline-block;
}

.list__item-flag {
  display: inline;
  width: 25px;
  height: 17px;
  margin: 0 5px -3px 10px;
}
