@import '@/assets/stylesheets/utils/variables.scss';

.grid__element {
  position: relative;
  background: $main-color--darker;
  border: 1px solid $main-color;
  border-radius: 4px;
}

.table {
  grid-area: t;
}

.table__content {
  border-collapse: collapse;
  width: calc(100% - 10px);
  margin: 0 auto;
}
